// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.text {
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    color: red;
}
// sassサンプル sacc ほぼ、css・・・・
.banner{
  position: relative;
}

.banner .banner-img {
    width: 100vw;
    height: 150px;
}

.banner .title-in-banner {
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 5em;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;/*Google Font*/
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

nav {
    text-align: center;
}

nav ul {
    margin: 0 ;
    padding: 0 ;
}

nav ul li{
  font-size: 1.2em;
  list-style: none;
  display: inline-block;
  width: 20%; /* ここで項目の幅を指定します */
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav li:hover{
  border-bottom: 2px solid #800080; /* 下線の太さや色を指定します */
}

nav .nav {
	display: flex;
	justify-content: center;
}

// .contents article {
//   width: 74%;
// }
//
// .contents aside {
//   width: 22%;
// }
//
// .contents {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 50px;
// }

main {
	display: flex;
	flex-flow: row;
  margin-top: 16px;
}
.side1 {
	flex: 1 1 200px;
  margin-left:  16px;
	margin-right: 16px;
	border-radius: 6px;
	padding: 20px;
	background-color: #ddd;
}

.side1 .side-title{
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #800080 solid;
  font-weight: normal;
}
.page_main {
	flex: 1 1 600px;
  margin-right: 16px;
	border-radius: 6px;
	padding: 10px;
	background-color: #ddd;
}

#content_main .article figure img{
	float: left;
	height: 160px;
	width: 160px;
	// margin: 0;
  object-fit: cover;
}

footer {
  background: #000040;
  text-align: center;
  padding: 26px 0;
  margin-top: 50px;
}

footer p {
  color: #FFF;
  font-size: 1em;
}
